@model Category

<form method="post">
    <div class="border-2 border-primary p-4 mt-4">
        <div class="row pb-1">
            <h2 class="text-primary">Create Category</h2>
        </div>
        <hr class="w-100 border-2 border-primary" />
        <div class="mb-3">
            <label>Category Name</label>
            <input type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Display Order</label>
            <input type="text" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control border-1 border-secondary">Back To List</a>
            </div>
        </div>
    </div>
</form>
